

:root {
    --bg: hsla(274, 74%, 10%, 1);
    --text: hsla(0, 0%, 100%, 1);
    --buttonBackground: hsla(274, 77%, 98%, 1);
    --buttonText: hsla(274, 19%, 18%, 1);
    --gradient: linear-gradient(180deg, rgba(29, 7, 46, 0.73) -11.47%, #1D072E 100%),
        linear-gradient(180deg, rgba(92, 75, 106, 0.64) -10.78%, #1D072E 100%),
        linear-gradient(0deg, #1D072E, #1D072E);
    --font: 'Inter',
        sans-serif;





}